name: "binaries"

on: [push]

jobs:
  linux: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Show GCC
      run: gcc -v

    - name: Setup Lua
      run: |
        curl -L -O https://www.lua.org/ftp/lua-5.1.5.tar.gz
        tar -xzf lua-5.1.5.tar.gz
        cd lua-5.1.5; make

    - name: Get LPeg
      run: |
        curl -L -o lpeg.tar.gz https://www.inf.puc-rio.br/~roberto/lpeg/lpeg-1.0.2.tar.gz
        tar -xzf lpeg.tar.gz

    - name: Get Luafilesystem
      run: |
        curl -L -o luafilesystem.tar.gz https://github.com/keplerproject/luafilesystem/archive/v1_8_0.tar.gz
        tar -xzf luafilesystem.tar.gz

    - name: Build
      run: |
        mkdir -p dist
        gcc -o dist/moon '-Ilua-5.1.5/src/' bin/binaries/moon.c lpeg-1.0.2/lpvm.c lpeg-1.0.2/lpcap.c lpeg-1.0.2/lptree.c lpeg-1.0.2/lpcode.c lpeg-1.0.2/lpprint.c


  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master

    - uses: msys2/setup-msys2@v2
      with:
        install: gcc make curl

    - name: Show GCC
      run: gcc -v

    - name: Setup Lua
      run: |
        curl -L -O https://www.lua.org/ftp/lua-5.1.5.tar.gz
        tar -xzf lua-5.1.5.tar.gz
        cd lua-5.1.5; make PLAT=mingw

    - name: Get LPeg
      run: |
        curl -L -o lpeg.tar.gz https://www.inf.puc-rio.br/~roberto/lpeg/lpeg-1.0.2.tar.gz
        tar -xzf lpeg.tar.gz

    - name: Get Luafilesystem
      run: |
        curl -L -o luafilesystem.tar.gz https://github.com/keplerproject/luafilesystem/archive/v1_8_0.tar.gz
        tar -xzf luafilesystem.tar.gz

    - name: List Files
      run: Get-ChildItem -Recurse

    - name: Run Lua
      run: lua-5.1.5/src/lua.exe -v

    - name: Build
      run: |
        mkdir -p dist
        gcc -o dist/moon.exe '-Ilua-5.1.5/src/' bin/binaries/moon.c lpeg-1.0.2/lpvm.c lpeg-1.0.2/lpcap.c lpeg-1.0.2/lptree.c lpeg-1.0.2/lpcode.c lpeg-1.0.2/lpprint.c




